# custom
*.log
*Thumbs.db

# outputs binaries
*.hnd
*.pdf
*.docx
*.mobi
*.epub

# Book build output
_book
_tmp*
dist/*

# dependencies for build & serve commands
dist/admin/
tmp/
node_modules/


# logs files
*.log
