# custom
*.log
*Thumbs.db

# outputs binaries
*.hnd
*.pdf
*.docx
*.mobi
*.epub

# dependencies for build & serve commands
tmp/
node_modules/
packages/
Help/_book/
HELP/local_build.bat

# logs files
*.log